/*style for landing component */

.frontend-home {
  width: 100%;
  background-color: #5d21d1;
  /* background: linear-gradient(90deg, #131426 0%, #211326 100%); */
  height: 100vh;
  display: flex;
  padding: 4vw 8vw 8vw 8vw;
  justify-content: space-around;
  align-items: center;
}
.frontend-home-detail {
  width: 40%;
}
.frontend-home-img {
  width: 55%;
}
.frontend-home-img img {
  width: 100%;
}
.frontend-home-title {
  padding: 1vh;
  color: azure;
  font-size: 36px;
  font-weight: bolder;
}
.frontend-home-info {
  padding: 1vh;
  color: azure;
  font-size: x-small;
}

/*style for frontend techstack component */

.frontend-techstack {
  background: url(../../assests/service_background.svg),
    lightgray -84.742px 0px / 111.77% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
}
.frontend-techstack-title {
  color: black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}
.frontend-techstack-title h1 {
  color: black;
  font-size: 16px;
  font-weight: 200;
}
.frontend-techstack-title p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.frontend-techstack-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.frontend-techstack-wraper {
  padding: 5vw 8vw 0;
  width: 100%;
}
.techstack-cards {
  margin: 1vh;
  background: rgba(71, 37, 37, 0.219);
  backdrop-filter: blur(4px);
  border: 1px rgba(176, 185, 185, 0.267) solid;
  border-radius: 2vh;
  width: 23.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techstack-title {
  font-size: 24px;
  font-weight: bolder;
  /* padding: 2vh 1vh 1vh 1vh; */
}
.techstack-description {
  font-size: 14px;
  padding: 1vh 3vh 2vh 1vh;
  text-align: center;
}
.techstack-img {
  width: 20vh;
  height: 20vh;
}
.techstack-img img {
  width: 100%;
}
.fronend-techstack-div1 {
  background: rgba(71, 37, 37, 0.219);
  backdrop-filter: blur(4px);
  border: 1px rgba(176, 185, 185, 0.267) solid;
  border-radius: 2vh;
  margin: 1vh;
  padding: 3vh 18vh;
}
.frontend-teckstack-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 5vh 10vh 0 10vh;
  font-weight: bold;
}

/*style for frontend services component */

.frontend_services {
  background-color: hsla(240, 33%, 9%, 1);
  background-image: radial-gradient(
      at 88% 88%,
      hsla(266, 49%, 16%, 0.9) 0px,
      transparent 50%
    ),
    radial-gradient(at 16% 19%, hsla(350, 89%, 19%, 0.57) 0px, transparent 50%);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  padding-bottom: 8vw;
}
.frontend-services-title {
  color: azure;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frontend-services-title h1 {
  color: azure;
  font-size: 16px;
  font-weight: 200;
  width: 55%;
}
.frontend-services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.5vw 8vw 0;
}
.frontend-serivces-cards {
  margin: 1vh;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  width: 70%;
  display: flex;
}
.frontend-serivces-img {
  width: 20%;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: flex-start;
  img {
    width: 50%;
  }
}
.frontend-services-info {
  margin: 1vw 1vw 1vw 0;
  width: 80%;
}
.frontend-services-cardtitle {
  color: azure;
  font-size: 20px;
  font-weight: bold;
}
.frontend-services-description {
  color: rgba(240, 255, 255, 0.674);
  font-size: 14px;
  padding: 0.8vw 0 0 0;
}
.services-readmore {
  color: rgba(240, 255, 255, 0.674);
  font-size: 14px;
}
.services-list {
  list-style-type: disc !important;
  text-align: left;
}
.frontend-services-info h1 {
  font-size: 18px;
  padding: 10px 10px 10px 0;
  color: #f8b000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  display: none;
}
.open {
  display: block;
}
.frontend-outsourcing {
  width: 100%;
  background-color: #29105c;
  /* background: linear-gradient(90deg, #131426 0%, #211326 100%); */
  height: fit-content;
  display: flex;
  padding: 5vw 8vw 5vw 8vw;
  justify-content: space-around;
  align-items: center;
}
.frontend-outsourcing-img {
  width: 50%;
  height: fit-content;
  background: url(../../assests/frontend/outsourcing_back.svg) no-repeat;
  background-size: contain;
}
.frontend-outsourcing-title {
  opacity: 1;
  margin-top: 280px;
  font-size: 36px;
  font-weight: bolder;
  color: rgba(240, 255, 255, 0.974);
  padding-bottom: 1vw;
}
.frontend-outsourcing-info p {
  font-size: 16px;
  font-weight: normal;
  margin-right: 3vw;
  color: rgba(240, 255, 255, 0.618);
  padding-bottom: 1vw;
}
.frontend-outsourcing-feed {
  width: 50%;
}
.frontend-outsourcing-cards {
  margin: 1vh;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  width: 90%;
  display: flex;
}
.frontend-outsourcing-no {
  width: 10%;
  display: flex;
  justify-content: center;
  color: #f8b000;
  margin-top: 20px;
}
.frontend-outsourcing-no span {
  padding: 5px;
  height: 35px;
  width: 35px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 100%;
  text-align: center;
  padding-bottom: 8px;
}
.frontend-outsourcing-info{
  width: 90%;
}
@media only screen and (max-width: 1024px) {
  .frontend-home {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .frontend-home-detail {
    width: 100%;
  }
  .frontend-home-img {
    width: 65vw;
  }
  .frontend-home-info {
    font-size: 2vw;
  }
  .frontend-home-title {
    padding-top: 4vw;
  }
  .frontend-techstack-wraper {
    padding: 3vw 0 0 0;
  }
  .techstack-cards {
    width: 48%;
  }
  .frontend-serivces-cards {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .frontend-home {
    padding-bottom: 13vw;
  }
  .frontend-home-img {
    padding-top: 8vw;
    width: 90vw;
  }
  .frontend-home-info {
    font-size: 3.5vw;
  }
  .frontend-home-title {
    padding-top: 8vw;
    font-size: 8vw;
  }
  .techstack-cards {
    width: 90%;
  }
  .frontend-techstack {
    padding: 10vw 8vw;
  }
  .frontend-techstack-cards {
    flex-direction: column;
    align-items: center;
  }
  .frontend-techstack-title,
  .frontend-services-title {
    font-size: 30px;
    font-weight: bold;
  }
  .frontend-services-title {
    margin: 5vw 0;
  }
  .frontend-techstack-title h1,
  .frontend-services-title h1 {
    font-size: 14px;
    width: 100%;
  }
  .fronend-techstack-div1 {
    padding: 4vw;
    margin: 1vh 2vh;
    text-align: center;
  }
  .frontend-teckstack-div2 {
    flex-direction: column;
    padding: 5vw 0;
  }
  .frontend-teckstack-div2 img {
    width: 80% !important;
    margin: 0 !important;
  }
  .frontend-teckstack-div2 h2 {
    width: 100% !important;
    margin-top: 5vw;
  }
  .frontend-services-container {
    padding: 2.5vw 0;
  }
  .frontend-serivces-cards {
    width: 100%;
    flex-direction: column;
    padding: 3vw 0;
    align-items: center;
  }
  .frontend-services-info {
    text-align: left;
  }
  .frontend-serivces-img {
    width: 60%;
    padding: 5vw;
  }
  .frontend-outsourcing {
    flex-direction: column;
    padding: 6vw;
  }
  .frontend-outsourcing-img {
    width: 100%;
  }
  .frontend-outsourcing-feed {
    width: 100%;
  }
  .frontend-outsourcing-title {
    margin-top: 160px;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .frontend-outsourcing-info p{
    font-size: 14px;
    padding-bottom:10px ;
  }
  .frontend-outsourcing-cards{
    width: 95%;
    flex-direction: column;
    padding-left:20px ;
  }
}
