footer {
  background: linear-gradient(180deg, #0f0f1e 0%, #1b1326 100%);
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-bottom: 5vw;
}
.foot-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.foot-main h1 {
  font-size: 1.8vw;
  padding: 10px 10px 10px 0;
  color: #e3e2eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-main ul {
  /* list-style-type: none; */
  height: fit-content;
  color: #e3e2eb;
  display: flex;
  flex-direction: column;
}
.foot-main li {
  padding: 5px;
  font-size: 1vw;
}
.foot-main li:hover {
  color: #b9b1ff;
  cursor: pointer;
}
.foot-address {
  color: #e3e2eb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 1vw;
}
.foot-logo {
  width: 200px;
  margin: 20px 0;
}
.foot-logo img {
  padding: 10px 0;
}
.socials {
  display: flex;
  align-items: center;
}
.socials img {
  padding: 10px ;
}
.socials a > img {
  padding-left: 0;
}
.foot-up , .foot-down{
  display: none;
}
@media screen and (max-width: 450px) {
  .foot-main{
    width: 100%;
  }
  .foot-main >div {
    width: 100%;
  }
  .foot-address p {
    font-size: 3vw;
  }
  .foot-logo {
    margin: 5px 0;
  }
  .socials img {
    width: 25px;
  }
  .foot-main ul {
    display: none;
  }
  .foot-main {
    .active, .active1, .active2 {
      display: block;
    }
    h1 {
      font-size: 5vw;
    }
    
    li {
      font-size: 3vw;
    }
  }
}
