.letchat {
  width: 100%;
  background-image: radial-gradient(
      circle at 82% 63%,
      rgba(183, 183, 183, 0.09) 0%,
      rgba(183, 183, 183, 0.09) 84%,
      transparent 84%,
      transparent 100%
    ),
    radial-gradient(
      circle at 88% 98%,
      rgba(232, 232, 232, 0.07) 0%,
      rgba(232, 232, 232, 0.07) 15%,
      transparent 15%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 83%,
      rgba(252, 252, 252, 0.05) 0%,
      rgba(252, 252, 252, 0.05) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 64% 0%,
      rgba(140, 140, 140, 0.05) 0%,
      rgba(140, 140, 140, 0.05) 54%,
      transparent 54%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 86%,
      rgba(241, 241, 241, 0.07) 0%,
      rgba(241, 241, 241, 0.07) 80%,
      transparent 80%,
      transparent 100%
    ),
    radial-gradient(
      circle at 17% 93%,
      rgba(68, 68, 68, 0.05) 0%,
      rgba(68, 68, 68, 0.05) 82%,
      transparent 82%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 70%,
      rgba(10, 10, 10, 0.02) 0%,
      rgba(10, 10, 10, 0.02) 13%,
      transparent 13%,
      transparent 100%
    ),
    linear-gradient(360deg, rgb(21, 70, 241), rgb(93, 33, 209));
  display: flex;
  justify-content: space-around;
  padding: 6vw 3vw;
  height:100vh;
}
.form-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-size: 2.4rem;
  font-weight: bold;
  color: azure;
}
.form {
  width: 45%;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 1fr);
}
.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form label {
  padding: 2vh 0 0.5vh 0;
  color: azure;
  font-size: 20px;
}
.form input {
  background-color: transparent;
  height: 6vh;
  border-radius: 0.5vw;
  border: 1px azure solid;
}
.item1 {
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
}
.item3 {
  grid-column: 1 / span 2;
}
.item6 {
  grid-column: 1 / span 2;
}
.item6 input {
  height: 10vh;
}
.item8 {
  /* margin: 2vh 10vh 0 3vh; */
  font-size: 1vw;
  color: rgb(183, 182, 235);
}

@media  screen and (max-width:800px ){
  .letchat{
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
  .form-title{
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .form-title img{
    height: 30vw;
  }
  .title{
    font-size:4vw;
    margin-bottom: 5vw;
  }
  .form{
    width: 100%;
  }
 
  label{
    padding-top: 2vw;
    font-size: 2.5vw;
  }
  input{
    height: 5vw;
    border-radius: 5px;
  }
  .item6 input {
    height: 10vw;
  }
  .item8{
    font-size: 2vw;
  }
}

@media  screen and (max-width: 425px){
  .title{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 5vw;
  }
  .item1{
    grid-column: 1 / span 2;
  }
  .item2{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .item4{
    grid-column: 1 / span 2;
  }
  .item5{
    grid-column: 1 / span 2;
  }
  label{
    padding: 5px 0 0 0;
    font-size: 4vw;
  }
  input{
    height: 8vw;
    border-radius: 8px;
  }
  .item6 input {
    height: 12vw;
  }
  .item6{
    padding-bottom: 3vw;
  }
  .item8{
    font-size: 2.5vw;
  }
}