.main {
  background-color: #5d21d1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
  padding: 11vw 8vw;
}
.main-detail {
  width: 50%;
  animation: fade-out linear forwards;
  animation-timeline: scroll(root);
  animation-range: exit;
}
.main-title {
  color: azure;
  font-size: 3.2vw;
  font-weight: 700;
  padding-bottom: 3vw;
}
.main-info {
  color: azure;
  padding-right: 13vh;
  padding-bottom: 3vw;
  font-size: 1.2vw;
}
.main-img {
  width: 35vw;
  animation: fade-out linear;
  animation-timeline: scroll(root);
  animation-range: exit;
}
@keyframes fade-out {
  0%{
    opacity: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .main-detail {
    width: 100%;
  }
  .main-title {
    font-size: 5vw;
  }
  .main-info {
    font-size: 1.8vw;
    padding-right: 0;
  }
  .main-img {
    width: 50vw;
    margin-top: 8vw;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .main-img {
    width: 90vw;
  }
  .main-info {
    padding-bottom: 5vw;
    font-size: 4.5vw;
  }
  .main-title {
    padding-top: 10vw;
    font-size: 8.5vw;
  }
}
