.services {
  background: url(../assests/service_background.svg),
    lightgray -84.742px 0px / 111.77% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.service-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vw;
}
.service-heading h1 {
  color: black;
  font-size: 3.5vw;
  font-weight: bolder;
}
.service-feed {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.service-card {
  width: 45%;
  height: auto;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
}
.card-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.card-info div {
  padding: 1vh;
}
.card-detail {
  font-size: .8vw;
}
.card-title {
  font-size: 2vw;
  font-weight: bold;
}
.card-tech {
  display: flex;
  justify-content: flex-start;
}
.tech {
  color: rgb(0, 0, 0);
  margin: 0 5px 0 5px;
  background-color: #e0e1e4;
  font-size: 15px;
  overflow: hidden;
  min-width: max-content;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}
.card-btn button{
  width:115px ;
  margin: 0 5px;
}

@media only screen and (max-width: 1024px) {
  .service-heading h1{
    font-size: 8vw;
  }
  .service-card {
    width: 100%;
  }
  .card-detail {
    font-size: 1.5vw;
  }
  .card-title {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .service-heading h1{
    font-size: 8vw;
    padding: 10vw 0;
  }
  .service-card {
    margin: 1vw 0;
  }
  .card-detail {
    font-size: 3vw;
  }
  .card-title {
    font-size: 5vw;
  }
  .service-card {
    flex-direction: column-reverse;
  }
  .card-info {
    width: 100%;
  }
  .card-img {
    display: flex;
    justify-content: center;
  }
}
