.technologies {
  background-image: radial-gradient(
      circle at 44% 9%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 74%,
      transparent 74%,
      transparent 83%,
      transparent 83%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 23%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 8%,
      transparent 8%,
      transparent 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 87% 35%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 10%,
      transparent 10%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 7%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 16%,
      transparent 16%,
      transparent 88%,
      transparent 88%,
      transparent 100%
    ),
    radial-gradient(
      circle at 37% 26%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 7%,
      transparent 7%,
      transparent 9%,
      transparent 9%,
      transparent 100%
    ),
    radial-gradient(
      circle at 86% 59%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 77%,
      transparent 77%,
      transparent 95%,
      transparent 95%,
      transparent 100%
    ),
    radial-gradient(
      circle at 75% 83%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 35%,
      transparent 35%,
      transparent 86%,
      transparent 86%,
      transparent 100%
    ),
    linear-gradient(0deg, hsl(0, 3%, 80%), hsl(279, 0%, 100%));
    width: 100%;
    height: fit-content;
    padding : 5vw 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.technologies-title{
    font-size: 2.5vw;
    font-weight: bold;
    padding-bottom: 1vw;
}
.technologies-body{
    padding-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.technologies-img img{
    width: 25vw;
}
.technologies-feed{
    width: 70%;
    padding: 0 2vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tech-img{
}
.tech-card{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding-right: 25px;
    margin: 1vh;
    border: 1px black solid;
    border-radius: 50px;
}

@media  screen and (max-width:1050px) {
  .technologies{
    height: fit-content;
    padding: 15vw 0;
  }
  .technologies-body{
    flex-direction: column;
    align-items: center;
  }
  .technologies-title{
    font-size: 8vw;
  }
  .technologies-feed{
    width: 100%;
    padding-top:10vw ;
    justify-content: center;
  }
  .technologies-img img{
    width: 65vw;
  }
  .tech-card{
    padding-right: 15px;
  }
  .tech-img img{
    width:8vw;
  }
}