.backend-home {
  width: 100%;
  background-color: #5d21d1;
  /* background: linear-gradient(90deg, #131426 0%, #211326 100%); */
  height: 100vh;
  display: flex;
  padding: 4vw 8vw 8vw 8vw;
  justify-content: space-around;
  align-items: center;
}

.backend-home-detail {
  width: 40%;
}
.backend-home-img {
  width: 55%;
}
.backend-home-img img {
  width: 100%;
}
.backend-home-title {
  padding: 1vh;
  color: azure;
  font-size: 36px;
  font-weight: bolder;
}
.backend-home-info {
  padding: 1vh;
  color: azure;
  font-size: small;
}
.backend-approches {
  background: url(../../assests/service_background.svg),
    lightgray -84.742px 0px / 111.77% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 6vw;
}
.backend-approches-title {
  color: black;
  font-size: 48px;
  font-weight: bolder;
}
.backend-approches-cards {
  padding: 5vw 10vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.approches-cards {
  margin: 1vh;
  background: rgba(97, 50, 50, 0.1);
  backdrop-filter: blur(4px);
  border: 1px rgba(176, 185, 185, 0.267) solid;
  border-radius: 2vh;
  width: 48%;
  display: flex;
}
.approches-info {
  width: 75%;
}
.approches-title {
  font-size: 24px;
  font-weight: bolder;
  padding: 2vh 1vh 1vh 1vh;
}
.approches-description {
  font-size: 14px;
  padding: 1vh 3vh 2vh 1vh;
}
.approches-img {
  width: 25%;
  padding: 3vh;
}
.backend-feed {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5d21d1;
  color: azure;
}

.backend-stages {
  background-color: hsla(240, 33%, 9%, 1);
  background-image: radial-gradient(
      at 0% 40%,
      hsla(184, 53%, 13%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 92%, hsla(354, 52%, 28%, 0.42) 0px, transparent 50%);
  width: 100%;
  height: fit-content;
  padding: 6vw 15vw;
}
.backend-stages h1{
  font-size: 1.8vw;
  padding: 10px 10px 10px 0;
  color: #e3e2eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backend-stages-info {
  width: 40%;
  margin-bottom: 10vh;
}
.backend-stages-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stage-card {
  background: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(4px);
  border-radius: 3vh;
  width: 48%;
  padding: 3vh 4vh;
  margin: 1vh;
}
.stage-card:hover  {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 40px 0px rgba(39, 37, 49, 0.2) inset,
    0px 98px 100px -48px rgba(71, 64, 83, 0.3) inset,
    0px 4px 18px 0px rgba(56, 53, 73, 0.3) inset,
    0px 39px 56px -36px rgba(255, 255, 255, 0.5) inset,
    0px 7px 11px -4px #fff inset,
    0px -82px 68px -64px rgba(52, 45, 65, 0.3) inset;
  backdrop-filter: blur(50px);
}
.backend-format {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
}
.format {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 0;
}
.format-detail {
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .backend-home{
    flex-direction: column-reverse ;
    height: fit-content;
  }
  .backend-home-detail {
    width: 100%;
  }
  .backend-home-img {
    width: 65vw;
  }
  .backend-home-info{
    font-size: 2vw;
  }
  .backend-home-title{
    padding-top: 4vw;
  }
  .backend-approches-cards{
    padding : 5vw 2vw;
  }
  .approches-cards{
    width: 100vw;
  }
  .backend-stages{
    padding: 10vw 6vw;
  }
  .backend-stages-info{
    width: 60%;
    margin-bottom: 6vh;
  }
  .backend-stages-info p{
    margin-bottom: 2vh;
}
.stage-card{
  width: 45%;
}
}
@media only screen and (max-width: 600px){
  .backend-home{
    padding-bottom:13vw ;
  }
  .backend-home-img {
    width: 90vw;
  }
  .backend-home-info{
    font-size: 3.5vw;
  }
  .backend-home-title{
    padding-top: 5vw;
    font-size: 8.5vw;
  }
  .backend-approches{
    padding: 10vw 5vw;
  }
  .backend-approches-title{
    font-size: 32px;
    padding-bottom:10vw ;
  }
  .backend-approches-cards {
    padding:0;
  }
  .approches-cards{
    flex-direction: column;
    padding: 3vw;
  }
  .approches-info{
    width: 100%;
  }
  .approches-img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .approches-img img{
    width: 70%;
  }
  .backend-stages{
    padding: 15vw 6vw;
  }
  .backend-stages-info{
    width: 100%;
  }
  .stage-card{
    width: 100%;
  }
  .stage-card h1{
    font-size: 28px !important;
  }
  .stage-card p{
    font-size: 12px !important;
  }
  .backend-format h1{
    margin-top: 10vw;
    padding: 0 !important;
  }
  .format{
    flex-direction: column-reverse;
    padding: 0;
    padding-top:15vw ;
  }
  .format img{
    width: 100% !important;
  }
  .format-detail{
    width: 100%;
  }
  .format-detail {
    margin-bottom:0 !important ;
  }
  .format2{
    flex-direction: column;
  }
  .format2 > .format-detail , .format2 img{
    padding: 0 !important;
  }
  .format2 img{
    width: 60% !important;
  }
  .feedback-title{
    padding-top: 5vh !important;
  }
}